.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  font-family: inherit;
  min-height: 78vh;
}

/* search bar */

.search-block {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* films bar */

.movie-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px;
}

.load-btn {
  margin-top: 20px;
  background-color: rgb(37, 37, 37);
  color: white;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 5px;
  cursor: pointer;
}

.load-btn:hover {
  background-color: rgb(34, 34, 34);
  color: rgb(175, 111, 52);
  border: 1px solid rgb(175, 111, 52);
}

.load-btn:active {
  background-color: gray;
  background-color: rgb(34, 34, 34);
  color: rgb(175, 111, 52);
  border: 1px solid rgb(175, 111, 52);
}

.load-btn:focus {
  outline: none;
}
