.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  font-family: inherit;
  min-height: 78vh;
}

/* search bar */

.search-block {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* films bar */

.movie-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px;
}
