.layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.layout-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.layout-header:hover {
  color: rgb(175, 111, 52);
  cursor: pointer;
}

.layout-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex: 1 0 auto;
  background-color: rgb(58, 58, 58);
  font-size: calc(10px + 2vmin);
}

.layout-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 50px;
  font-size: calc(10px + 1.5vmin);
  color: white;
}
