.movie {
  padding: 30px;
  width: 100%;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-block {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-btn {
  margin-top: 20px;
  background-color: rgb(37, 37, 37);
  color: white;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 5px;
  cursor: pointer;
}

.load-btn:hover {
  background-color: rgb(34, 34, 34);
  color: rgb(175, 111, 52);
  border: 1px solid rgb(175, 111, 52);
}

.load-btn:active {
  background-color: gray;
  background-color: rgb(34, 34, 34);
  color: rgb(175, 111, 52);
  border: 1px solid rgb(175, 111, 52);
}

.load-btn:focus {
  outline: none;
}
