@import url('https://fonts.googleapis.com/css?family=Radley');

body {
  margin: 0;
  padding: 0;
  font-family: 'Radley', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
}
